<% if flash.keys().length > 0 %>
  <div id="FlashContainer">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, :class => "flash flash_#{name}" %>
      <% end %>
    <% end %>
  </div>
<% end %>
