<% provide(:title, @user.name) %>

<h1>Oh hey, I'm <%= @user.name %></h1>
<h3>Call me ;) <%= @user.email %></h3>

<% if @current_user %>
<h1>You're signed in!</h1>
<% else %>
<h1>How about you sign in?</h1>
<% end %>
