<% provide(:title, @user.name) %>

<div class="jumbotron">
  <h1><%= @user.name %></h1>
  <p></p>
</div>

<% if current_user %>
  <h1>Tasks (<%= link_to "New" , :new_task %>)</h1>

  <br>
  <div class="list-group">
    <% @tasks.each do |t| %>
    <%= link_to t.title , t , class: "list-group-item" %>
    <% end %>
  </div>

<% end %>
