/**
 * Kyle theme for reveal.js. This is the opposite of the 'white' theme.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #3299bb;

$mainColor: #e9e9e9;
$headingColor: #e9e9e9;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

section {
	img.blend-img {
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}

	img.blend-img-sm {
		height: 200px;
	}

	img.blend-img-md {
		height: 300px;
	}

	img.blend-img-lg {
		height: 400px;
	}

	img.blend-img-xl {
		height: 600px;
	}
}

section.device-slide {
	img {
		padding-left: 40px;
		padding-right: 40px;
	}
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
