<div class="row">
  <div class="col-lg-4 col-md-3">
  </div>
  <div class="col-lg-4 col-md-6">
    <h1>How It's Made</h1>
    <p><span class="lobster">The Time Tracker</span> is
      a Ruby on Rails application built in the Fall of 2014.
    </p>

    <a class="center-text" href="https://github.com/skierkyles/getting-moved">
      <h1><i class="fa fa-github big-fa"></i></h1>
      <h3>Get the Source on GitHub</h3>
    </a>
  </div>
  <div class="col-lg-4 col-md-3">
  </div>
</div>
