<div class="row">
  <div class="col-lg-3 col-md-2">
  </div>
  <div class="col-lg-6 col-md-8">
    <h1>How It's Made</h1>
    <p><span class="fancy-font">The Time Tracker</span> is
      a Ruby on Rails application built in the Fall of 2014. Built by
      <a href="https://www.facebook.com/kyle.swanson.91">me</a> (Kyle Swanson),
      a Westminster Student.
    </p>

    <a class="center-text" href="https://github.com/skierkyles/getting-moved">
      <h1><i class="fa fa-github big-fa"></i></h1>
      <h3>Get the Source on GitHub</h3>
    </a>
  </div>
  <div class="col-lg-3 col-md-2">
  </div>
</div>
