/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import 'welcome';
@import 'users';
@import 'task';
@import '_bootstrap-sprockets';
@import '_bootstrap';
@import 'font-awesome';
@import 'bootstrap-datetimepicker';

@import 'variables';

html {
  min-height: 100%;
}

body {
  font-family: $normal-font;
}
body p {
  font-family: $normal-font;
}

.fancy-font {
  font-family: $fancy-font;
}

.big-fa {
  font-size: 70px;
}

.center-text {
  text-align: center;
}

// Nav Bar
.navbar {
  background-color: $blue-color;
  border-color: darken($blue-color, 10%);

  a.navbar-brand, .navbar-nav li a, .navbar-nav li {
    color: $white-color !important;

    &:hover {
      color: $grey-color !important;
    }
  }

  .dropdown-menu {
    background-color: $blue-color;

    li {
      color: $white-color !important;

      &:hover {
        color: $white-color !important;
      }

      a {
        &:hover {
          color: $white-color !important;
          background-color: $dark-blue-color;
        }
      }
    }
  }

  li.dropdown.open a.dropdown-toggle {
    background-color: $dark-blue-color;
  }

  .navbar-toggle {
    &:focus, &:hover {
      background-color: $dark-blue-color;
    }

    .icon-bar {
      background-color: $white-color;
    }
  }
}

//Individuals
.logged-task-individual {


  h4, p, i {
    color: $white-color;

    small {
      color: darken($white-color, 5%);
    }
  }

  footer {
    color: $white-color;
  }
}


// Bootstrap overrides
.btn-primary {
  background-color: $blue-color;

  &:hover, &:active {
    background-color: $dark-blue-color;
  }
}

// Date picker
.ui-datepicker-inline {
  display: none !important;
}
