// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homePage {
	text-align: center;
}
	#homePage {
	}
	#homePage h1 {
		font-family: 'Lobster', cursive;
	}
	#homePage h3 {
		margin-top: 5px;
	}
	#homePage .btn {
		margin: 30px;
		padding: 20px 50px;
	}
