// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

#homePage {
	text-align: center;

	h1 {
		font-family: $fancy-font;
	}

	h3 {
		margin-top: 5px;
	}

	.btn {
		margin: 30px;
		padding: 20px 50px;
	}
}
