// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.body-class {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	height: 100%;
}

#homePage {
	text-align: center;

	h1 {
		font-family: $fancy-font;
		color: $white-color;
	}

	h3 {
		margin-top: 5px;
		color: $white-color;
	}

	p {
		color: $white-color;

		a {
			color: $orange-color;
		}
	}

	.btn {
		margin: 30px;
		padding: 20px 50px;
	}
}
