<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Kyle Swanson - Senior Project</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/kyle.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>The Time Tracker</h1>
					<h3>website - mobile app - api</h3>
					<p>
						<small>Created by Kyle Swanson</small>
					</p>
				</section>

				<section>
					<h2>What is it?</h2>
					<hr />
					<h2>Why?</h2>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<h1>Components</h1>
				</section>

				<section data-background="#981a21">
					<!-- Intro -->
					<section>
						<img class="blend-img blend-img-md" data-src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" alt="" />
						<h4>Convention over configuration</h4>
					</section>

					<!-- About it -->
					<section>
						<h3>About</h3>
						<p>
							Rails is an Model View Controller framework emphasizing
							DRY programming and convention
							over configuration
						</p>
						<hr>
						<p>
							Rails powers the desktop experience and database json api
						</p>
					</section>

					<section>
						<h3>Code Example</h3>
						<h5><small>Creating a DRY method to do a common database lookup - Model</small></h5>
						<pre><code data-trim>
class User < ActiveRecord::Base
 has_many :tasks

 def tasks_logged
  tasks = Task.where(:user => self)
  LoggedTask.where(:task_id => tasks)
 end
end
						</code></pre>

						<h5><small>Displaying tasks as found in the model - View</small></h5>
						<pre><code data-trim>

<div class="list-group">
 <% @user.tasks_logged.each do |t| %>
  <%= render partial: "logged_tasks/individual", locals: {lt: t} %>
 <% end %>
</div>

						</code></pre>
					</section>

					<section>
						<h3>Code Example</h3>
						<h5><small>Hashing database objects and serving in the API - API Controller</small></h5>

						<pre><code data-trim>
def show
 lt = LoggedTask.find(params[:id])

 render :json=> {:success => true, :logged_task => lt.hashed}
end
						</code></pre>


						<h5><small>Example output from the api - Json</small></h5>
						<pre><code data-trim>
{
 "success":true,
 "logged_task":{
  "id":1,
  "notes":"Skiing Red Baldy",
  "created_at":"2015-01-21T18:20:36.961-07:00",
  "comments":[],
  "images":[]s
 }
}
						</code></pre>

					</section>

					<section>
						<h3>Thoughts on Rails</h3>
						<ul>
							<li>Requiring convention increases the learning curve.</li>
							<li>However, once you understand/know
								the convention it can decrease programming time.</li>
							<li>Rails comes with a lot built in. SCSS, Coffee Script, and more.</li>
						</ul>
					</section>
				</section>

				<section data-background="#296ad4">
					<section>
						<img class="blend-img blend-img-md" src="http://ionicframework.com/present-ionic/slides/img/ionic-logo.png" alt="" />
						<h4>Hybrid mobile apps with HTML5</h4>
					</section>

					<!-- What it does -->
					<section>
						<h3>About</h3>
						<p>
							Ionic is a hybrid mobile framework using
							Cordova and AngularJS to build apps
							deployable to iOS and Android. Ionic like AngularJS utilizes
							services, controllers and views.
						</p>
						<hr>
						<p>
							Ionic is behind the Android/iOS mobile app
						</p>
					</section>

					<!-- Code example -->
					<section>
						<h3>Code Example</h3>

						<h5><small>Deferred and Asynchronous GET Request - Service</small></h5>
						<pre><code data-trim>
service.getDetailedTask = function (taskId) {
  var dfd = $q.defer();

  $http.get(SERVER_ADDRESS + '/1/api_logged_tasks/' + taskId).then(
    function (success) {
      dfd.resolve(success.data.logged_task);
    },
    function (failure) {
      dfd.reject(failure);
    }
  );

  return dfd.promise;
}
						</code></pre>

					</section>

					<section>
						<h3>Code Example</h3>

						<h5><small>Using the service in a controller - Controller</small></h5>

						<pre><code data-trim>
Task.getDetailedTask(task_id).then(
  function (detailed_task) {
    $scope.task = detailed_task;
  },
  function (error) {
    $scope.has_error = true;
  }
);
						</code></pre>

						<h5><small>Showing the item fetched in the controller - View</small></h5>

						<pre><code data-trim>
<div class="item item-text-wrap">
  <p>
    {{ task.notes }}
  </p>
</div>

<div class="item item-image" ng-repeat="image in task.images">
  <img ng-src="{{ image.image }}">
</div>
						</code></pre>

					</section>

					<!-- final thoughts -->
					<section>
						<h3>Thoughts on Ionic</h3>
						<ul>
							<li>Unified language and codebase between
								platforms reduces development time</li>
							<li>But, if it works everywhere, it's not quite
							"right" anywhere.</li>
							<li>AngularJS, SCSS, and Grunt are all good things</li>
						</ul>

					</section>
				</section>

				<section>
					<h3>If I could do it all over again</h3>
					<h5>Rails</h5>
					<h5>Ionic</h5>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
